# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=progress_tracker
DATABASE_URL=

# Student Backend
STUDENT_PORT=5000

# Instructor Backend
INSTRUCTOR_PORT=5001

# Frontend
VITE_STUDENT_API_URL=http://localhost:5000/api
VITE_INSTRUCTOR_API_URL=http://localhost:5001/api

# JWT
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=7d

NODE_ENV=development

# upload files
CLOUDINARY_CLOUD_NAME=dobnouuwt
CLOUDINARY_API_KEY=993998827127518 
CLOUDINARY_API_SECRET=5yctKxGdUm5tSnrykwxnUGaexrk
